//https://codepen.io/jh3y/pen/JKddVx


- var star = 0
- var noOfStars = 100
.night-sky
    while star < noOfStars
        .star.star--animated
        - star++
    .night-sky__aurora.night-sky__aurora--one
    .night-sky__aurora.night-sky__aurora--two
.landscape
    .tent
    .campfire
        .campfire__flame
        .campfire__logs
