<div class="container-world">
    <div (click)="showMap()" class="world">
        <span>Carte du monde</span>
        <span class="icon icon-map"></span>
    </div>
    <div (click)="showGlobes()" class="world">
        <span>Ovation Prime</span>
        <span class="icon icon-earth"></span>
    </div>
</div>

<div class="container-chart">
    <div class="header">Les prochaines heures</div>
    <div class="sub">Kp maximum</div>
    <canvas id="kpnexthours"></canvas>
</div>

<div class="container-chart">
    <div class="header">Prévisions à long termes</div>
    <div class="sub">Kp maximum</div>
    <canvas id="kpforecast"></canvas>
</div>
