.icon {
  font-family: "aurora-icons", serif !important;
  font-size: 5em;
  letter-spacing: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  //border-radius: 50%;
  //overflow: hidden;
}

ion-tab-bar {
  contain: none;
}

.main-btn {
  ion-label {
    padding-top: 25px;
    font-family: var(--ion-font-bold);
    text-transform: uppercase;
    font-size: 1.3em;
    //color: var(--ion-color-primary)
    //color: var(--internal-root-color)
  }
}
