
.icon {
  font-family: "aurora-icons", serif !important;
  font-size: 5em;
  letter-spacing: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  //border-radius: 50%;
  //overflow: hidden;
}
ion-tab-bar {
  contain: none;
  ion-tab-button > a {
    overflow: visible;  // shadow root A ...
  }
}
:host(a) {
    --ion-overflow: visible !important;  // shadow root A ...

}
