<ion-tabs>
  <!-- trick pété car lotties ne fonctionnent pas dans ion-tab-bar -->
  <lottie-animation-view *ngIf="lottieConfigWeather" [options]="lottieConfigWeather" [width]="70" [height]="70" [routerLink]="['', 'tabs','tab1']" class="tabs tab1"> </lottie-animation-view>
  <lottie-animation-view *ngIf="lottieConfigSettings" [options]="lottieConfigSettings" [width]="40" [height]="40" [routerLink]="['', 'tabs','tab3']" class="tabs tab3"> </lottie-animation-view>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <!--            <span class="icon icon-infos"></span>-->
    </ion-tab-button>

    <ion-tab-button class="main-btn" tab="tab2" #test>
      <span class="icon-test"></span>
      <ion-label>{{ 'tab2.title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <!--            <span class="icon icon-settings"></span>-->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
