<ion-content>
    <div (click)="close()" class="close"><span class="icon icon-close"></span></div>

    <div *ngIf="map" class="container-map">
        <div class="title">{{ titleMap }}</div>
        <ion-img src="{{ map }}"></ion-img>

    </div>
    <div *ngIf="globe1" class="container-map">
        <div class="title">{{ globeTitle1 }}</div>
        <ion-img src="{{ globe1 }}" (click)="loadOvations('north')"></ion-img>
    </div>
    <div *ngIf="globe2" class="container-map">
        <div class="title">{{ globeTitle2 }}</div>
        <ion-img src="{{ globe2 }}" (click)="loadOvations('north')"></ion-img>
    </div>

    <div *ngIf="cgu" id="cgu">
        <div [innerHTML]="'cgu.title' | translate" class="title"></div>
        <div class="cgu-block">
            <div [innerHTML]="'cgu.art1.title' | translate" class="art-title"></div>
            <div [innerHTML]="'cgu.art1.text' | translate" class="art-msg"></div>
        </div>
        <div class="cgu-block">
            <div [innerHTML]="'cgu.art2.title' | translate" class="art-title"></div>
            <div [innerHTML]="'cgu.art2.text' | translate" class="art-msg"></div>
        </div>
        <div class="cgu-block">
            <div [innerHTML]="'cgu.art3.title' | translate" class="art-title"></div>
            <div [innerHTML]="'cgu.art3.text' | translate" class="art-msg"></div>
        </div>
        <div class="cgu-block">
            <div [innerHTML]="'cgu.art4.title' | translate" class="art-title"></div>
            <div [innerHTML]="'cgu.art4.text' | translate" class="art-msg"></div>
        </div>
        <div class="cgu-block">
            <div [innerHTML]="'cgu.art5.title' | translate" class="art-title"></div>
            <div [innerHTML]="'cgu.art5.text' | translate" class="art-msg"></div>
        </div>
        <div class="cgu-block">
            <div [innerHTML]="'cgu.art6.title' | translate" class="art-title"></div>
            <div [innerHTML]="'cgu.art6.text' | translate" class="art-msg"></div>
        </div>
    </div>

    <div class="modal-ovations" [style.display]="canvasModal">
        <canvas id="canvas" #canvas></canvas>
    </div>

</ion-content>

