<ion-content>
    <div (click)="close()" class="close"><span class="icon icon-close"></span></div>

    <div *ngIf="map" class="container-map">
        <div class="title">{{ titleMap }}</div>
        <ion-img src="{{ map }}"></ion-img>
    </div>
    <div *ngIf="globe1" class="container-map">
        <div class="title">{{ globeTitle1 }}</div>
        <ion-img src="{{ globe1 }}"></ion-img>
    </div>
    <div *ngIf="globe2" class="container-map">
        <div class="title">{{ globeTitle2 }}</div>
        <ion-img src="{{ globe2 }}"></ion-img>
    </div>

    <div *ngIf="cgu" id="cgu">

        <div [innerHTML]="'cgu.title' | translate" class="title"></div>
        <div [innerHTML]="'cgu.subtitle' | translate" class="subtitle"></div>
        <div class="cgu-block">
            <div [innerHTML]="'cgu.persodata.title' | translate" class="subtitle"></div>
            <div [innerHTML]="'cgu.persodata.text' | translate" class="subtitle"></div>
        </div>
        <div class="cgu-block">
            <div [innerHTML]="'cgu.database.title' | translate" class="subtitle"></div>
            <div [innerHTML]="'cgu.database.text' | translate" class="subtitle"></div>
        </div>
        <div class="cgu-block">
            <div [innerHTML]="'cgu.advert.title' | translate" class="subtitle"></div>
            <div [innerHTML]="'cgu.advert.text' | translate" class="subtitle"></div>
        </div>
        <div class="cgu-block">
            <div [innerHTML]="'cgu.contacts.title' | translate" class="subtitle"></div>
            <div [innerHTML]="'cgu.contacts.text' | translate" class="subtitle"></div>
        </div>
    </div>
</ion-content>

