<app-header titre="{{ 'tab2.title' | translate }}"></app-header>

<ion-content *ngIf="loading" fullscreen>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <p class="text-spinner">{{ 'tab2.loading' | translate }}</p>
    <div class="content-spinner">
        <div class="whirly-loader"></div>
    </div>
</ion-content>

<ion-content *ngIf="!loading && !dataError.value">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="140">
        <div class="refresh whirly-loader"></div>
    </ion-refresher>

    <h2 class="ion-text-center"><span>{{ city }}</span><span>{{ country }}</span></h2><br>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <app-meteo [coords]="coords"
                       [currentWeatherInput]="dataCurrentWeather"
                       [hourlyWeatherInput]="dataHourly"
                       [sevenDayWeatherInput]="dataSevenDay"
                       [utc]="utcOffset">
            </app-meteo>
        </ion-slide>
        <ion-slide>
            <app-kpindex [moduleACEValue]="moduleACE"></app-kpindex>
        </ion-slide>
        <ion-slide>
            <app-maps [kpForecastInput]="kpForecast27days"></app-maps>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-content *ngIf="!loading && dataError.value" #bugs>
    <p style="text-align: center">
        {{ dataError.message}}
    </p>
</ion-content>

