<app-header titre="{{ 'tab2.title' | translate }}"></app-header>

<ion-content *ngIf="loading" fullscreen>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ion-content>

<ion-content *ngIf="!loading" fullscreen>
    <h2 class="ion-text-center"><span>{{ city }}</span><span>{{ country }}</span></h2><br>

    <ion-slides [options]="slideOpts">
        <ion-slide>
            <app-kpindex [coords]="coords"></app-kpindex>
        </ion-slide>
        <ion-slide>
            <app-meteo [coords]="coords"></app-meteo>
        </ion-slide>
        <ion-slide>Quoi de plus ?</ion-slide>

    </ion-slides>
</ion-content>



