<app-header titre="{{ 'tab2.title' | translate }}"></app-header>

<ion-content *ngIf="loading" fullscreen>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <p class="with-spinner">Votre localisation est en cours de chargement ...</p>
    <div class="content-spinner">
        <div class="whirly-loader"></div>
    </div>
</ion-content>

<ion-content *ngIf="!loading && !dataError.value" fullscreen>
    <h2 class="ion-text-center"><span>{{ city }}</span><span>{{ country }}</span></h2><br>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <app-meteo [coords]="coords" [currentWeather]="dataCurrentWeather" [hourlyWeather]="dataHourly" [sevenDayWeather]="dataSevenDay"></app-meteo>
        </ion-slide>
        <ion-slide>
            <app-kpindex [coords]="coords"></app-kpindex>
        </ion-slide>
        <ion-slide>Quoi de plus ?</ion-slide>
    </ion-slides>
</ion-content>

<ion-content *ngIf="!loading && dataError.value">
    {{ dataError.message}}
</ion-content>


