<app-header titre="{{ 'tab1.title' | translate }}"></app-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>{{'tab1.cards.welcome.title' | translate }}</ion-card-header>
        <ion-card-content>{{ 'tab1.cards.welcome.message' | translate }}</ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>Une Aurore Boréale ?</ion-card-header>
        <ion-card-content>Une Aurore Boréale, ou Aurore Polaire,</ion-card-content>
        <ion-card-header>Comment apparaissent-elle ?</ion-card-header>
        <ion-card-content>eeeea</ion-card-content>
        <ion-card-header>Où en voir ?</ion-card-header>
        <ion-card-content>eeeea</ion-card-content>
        <ion-card-header>Légendes & Mythes</ion-card-header>
        <ion-card-content>
            Il existe bon nombre de légendes autour des aurores, qui diffèrent en fonction des Régions. Je vais vous en présenter quelques unes.
            <br>
            <ion-label>- Alaska :</ion-label>
            Les Inuits... <i></i>
            <br>
            <ion-label>- Canada :</ion-label>
          e
            <br>
            <ion-label>- Norvège :</ion-label>
          ae
            <br>
            <ion-label>- Islande :</ion-label>
          eazr
        </ion-card-content>
    </ion-card>

</ion-content>
