ion-card {

  &.card-container {
    box-shadow: none;
  }
  ion-card-header {
    color: var(--ion-color-tertiary);
    text-transform: uppercase;
    font-family: var(--ion-font-semibold);
    padding: 8px !important;
    &:not(.header) {
      font-style: italic;
    }
  }

  &.welcome-card {
    ion-card-header {
      color: var(--ion-color-primary) !important;
      font-size: 1.2em;
      text-align: center;
    }
  }

  ion-card-content {
    color: var(--ion-color-light);

    &:not(.dont-touch) {
      display: none;
    }

    .countries span {
      padding: 3px 0;
      font-weight: bold;
      color: var(--ion-color-tertiary);
      font-style: italic;
    }

    .annecdotes:before {
      content: "•";
      padding-right: 5px;
      color: var(--ion-color-tertiary)
    }
  }
}
