<app-header titre="{{ 'tab1.title' | translate }}"></app-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>{{'tab1.cards.welcome.title' | translate }}</ion-card-header>
        <ion-card-content>{{ 'tab1.cards.welcome.message' | translate }}</ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header (click)="visibility($event)"><ion-icon name="arrow-dropright"></ion-icon> Une Aurore Boréale ?</ion-card-header>
        <ion-card-content>Une Aurore Boréale, ou Aurore Polaire,</ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header (click)="visibility($event)"><ion-icon name="arrow-dropright"></ion-icon> Comment apparaissent-elle ?</ion-card-header>
        <ion-card-content>eeeea</ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header (click)="visibility($event)"><ion-icon name="arrow-dropright"></ion-icon> Où en voir ?</ion-card-header>
        <ion-card-content>eeeea</ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header (click)="visibility($event)"><ion-icon name="arrow-dropright"></ion-icon> {{ 'tab1.cards.legends.title' | translate }}</ion-card-header>
        <ion-card-content> {{ 'tab1.cards.legends.message' | translate }}
            <div class="countries"><span>{{ 'tab1.cards.legends.alaska.list' | translate }}</span>{{ 'tab1.cards.legends.alaska.message' | translate}}</div>
            <div class="countries"><span>{{ 'tab1.cards.legends.canada.list' | translate }}</span>{{ 'tab1.cards.legends.canada.message' | translate}}</div>
            <div class="countries"><span>{{ 'tab1.cards.legends.norvege.list' | translate }}</span>{{ 'tab1.cards.legends.norvege.message' | translate}}</div>
            <div class="countries"><span>{{ 'tab1.cards.legends.islande.list' | translate }}</span>{{ 'tab1.cards.legends.islande.message' | translate}}</div>
            <br>
            <div>{{ 'tab1.cards.legends.conclusion' | translate }}</div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header (click)="visibility($event)"><ion-icon name="arrow-dropright"></ion-icon> Comment peut-on prévoir ce phénomène ?</ion-card-header>
        <ion-card-content>eeeea</ion-card-content>
    </ion-card>

</ion-content>
