<app-header titre="{{ 'tab3.title' | translate }}"></app-header>

<ion-content>
    <ion-card>
        <ion-img src="/assets/img/aurora-tab3.jpg"></ion-img>
        <ion-card-content>
            <ion-item>
                <ion-label>Localisation</ion-label>
                <ion-select value="enable" interface="action-sheet">
                    <ion-select-option value="enable">Montréal - CA</ion-select-option>
                    <ion-select-option value="mute">Québec - CA</ion-select-option>
                    <ion-select-option value="mute_week">Saguenay - CA</ion-select-option>
                    <ion-select-option value="mute_year">Banff - CA</ion-select-option>
                    <ion-select-option value="mute_year">Jasper - CA</ion-select-option>
                    <ion-select-option value="mute_year">Bergen - NO</ion-select-option>
                    <ion-select-option value="mute_year">Tromso - NO</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">Reikjavic - IL</ion-select-option>
                    <ion-select-option value="mute_year">AAAAAA -  IL</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-card-content>
        <ion-card-content>Merci à .. pour l'API (regarder les crédits)</ion-card-content>
    </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
        <ion-icon name="arrow-dropup" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button color="secondary">
            <ion-icon name="logo-linkedin" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary">
            <ion-icon name="logo-twitter" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary">
            <ion-icon name="logo-github" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary">
            <ion-icon class="gitlab" src="assets/icon/gitlab.svg" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary" href="mailto:morganichoui@gmail.com">
            <ion-icon name="at" color="dark"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>
