ion-icon.gitlab {
  width: 100%;
  min-height: 80%;
}

ion-card {
  img {
    border: 2px solid var(--ion-color-primary);
    border-radius: 5px;
  }
  .based-on {
    color: var(--ion-color-primary);
    font-style: italic;
  }
  ion-icon {
    width: 2.5vh;
    height: 2.5vh;  }
}

