<app-header titre="{{ 'tab3.title' | translate }}"></app-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <div class="google-maps" [routerLink]="['../../../map']">
                <ion-header>{{ 'tab3.location' | translate }}</ion-header>
                <div class="sub">{{ 'tab3.sublocation' | translate }}</div>
                <div id="map_canvas"></div>
            </div>
        </ion-card-content>
    </ion-card>

    <!--    <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label>{{ 'tab3.notifications' | translate }}</ion-label>
                    <ion-toggle color="primary" (ionChange)="activeNotif($event)" [checked]="notifications"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="notifications">
                    <ion-label>{{ 'tab3.kp' | translate }}</ion-label>
                    <ion-select value="{{ notifKp }}" interface="action-sheet" (ionChange)="selectedKp($event)">
                        <ion-select-option *ngFor="let kp of kpindex" value="{{ kp }}">{{ kp }}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-card-content>
        </ion-card>-->
    <!--    <ion-img src="/assets/img/aurora-tab3.jpg"></ion-img>-->
    <ion-card>
        <ion-card-content>
            <ion-header>{{ 'tab3.languages' | translate }}</ion-header>
            <div class="sub">{{ 'tab3.sublanguages' | translate }}</div>
            <ion-item>
                <ion-select value="{{ language }}" interface="action-sheet" (ionChange)="selectedLanguage($event)" cancelText="{{ 'tab3.cancel' | translate }}">
                    <ion-select-option *ngFor="let lg of languages" value="{{ lg.slug }}">
                        <span *ngIf="language === 'fr'">{{ lg.labelFr }}</span>
                        <span *ngIf="language === 'en'">{{ lg.labelEn }}</span>
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card class="credits">
        <ion-card-content>
            <ion-header class="credits">{{ 'tab3.credits' | translate }}</ion-header>
            <!--  <p>Weather Lotties made by my friend <a>Blue Pixel</a></p>-->
            <p>Aurora datas provided by <a href="#" (click)="openUrl('http://auroraslive.io/#/')">Auroras.live API</a></p>
            <p>Weather Powered by <a href="#" (click)="openUrl('https://darksky.net/poweredby/')">Dark Sky</a></p>
            <p>Thanks to JHEY for his <a href="#" (click)="openUrl('https://codepen.io/jh3y/pen/JKddVx')">Aurora CSS Project</a></p>
            <p>Please, don't forget to <a href="#" (click)="openUrl('https://play.google.com/store/apps/details?id=io.aurora.start')">rate me!</a> ☺</p>
            <ion-button class="legal" color="primary" size="small" (click)="CGU()">{{ 'tab3.cgu' | translate }}</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
        <ion-icon name="arrow-dropup" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button color="secondary" (click)="openUrl('https://www.linkedin.com/in/morgan-nicol-1b019b104/')">
            <ion-icon name="logo-linkedin" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary" (click)="openUrl('https://twitter.com/Ichoui')">
            <ion-icon name="logo-twitter" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary" (click)="openUrl('https://github.com/Ichoui')">
            <ion-icon name="logo-github" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary" (click)="openUrl('https://www.paypal.me/ichoui/1')">
            <span class="icon icon-paypal"></span>
        </ion-fab-button>
        <ion-fab-button color="secondary" href="mailto:morganichoui@gmail.com">
            <ion-icon name="at" color="dark"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>
