<ion-header>
    <!--    Rajouter image ou logo sous forme de module -->
    <ion-toolbar>
        <ion-title>
            Contacts
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
<!--        <img src="/assets/img/aurora-tab3.jpg" alt="" />-->
        <ion-img src="/assets/img/aurora-tab3.jpg"></ion-img>
        <ion-card-content>Merci à .. pour l'API (regarder les crédits)</ion-card-content>
        <ion-card-content>
            <ion-text color="primary">
                Frameworks utilisés :
                <ion-icon name="logo-ionic" title="Ionic" color="tertiary"></ion-icon>
                <ion-icon name="logo-angular" title="Angular" color="tertiary"></ion-icon>
            </ion-text>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
        <ion-icon name="arrow-dropup" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button color="secondary">
            <ion-icon name="logo-linkedin" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary">
            <ion-icon name="logo-twitter" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary">
            <ion-icon name="logo-github" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary">
            <ion-icon class="gitlab" src="assets/icon/gitlab.svg" color="dark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary" href="mailto:morganichoui@gmail.com">
            <ion-icon name="at" color="dark"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>
