ion-icon.gitlab {
  width: 100%;
  min-height: 80%;
}

ion-card {
  ion-img {
    border: 2px solid var(--ion-color-primary);
    max-width: 902px;
  }

  ion-select {
    color: var(--ion-color-light);

    ion-select-option {
      color: var(--ion-color-light);
    }
  }
}
