@import "../../theme/shared";

ion-card {
  ion-item {
    --inner-border-width: 0 !important;
    --border-width: 0 !important;
  }
  ion-header {
    @include header-title;
    margin-left: 0;
    margin-bottom: 15px;
    &:before {
      @include bottom-header;
    }

    &:after {
      background-image: none;
    }
  }
  #map_canvas {
    margin-top: 15px;
    height: 125px;
    width: 100%;
  }

  ion-button.legal {
    margin-top: 10px;
    font-family: var(--ion-font-light);
  }

  ion-img {
    border: 2px solid var(--ion-color-primary);
    width: auto;
  }

}
