// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #69BFAF;
  --ion-color-primary-rgb: 105, 191, 175;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #5ca89a;
  --ion-color-primary-tint: #78c5b7;

  --ion-color-secondary: #8CFFEA;
  --ion-color-secondary-rgb: 140, 255, 234;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #7be0ce;
  --ion-color-secondary-tint: #98ffec;

  --ion-color-tertiary: #468075;
  --ion-color-tertiary-rgb: 70, 128, 117;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3e7167;
  --ion-color-tertiary-tint: #598d83;

  --ion-background-color: #2a2a2a;
  --ion-text-color: #fff;
}

$colors: (
        primary: #69BFAF,
        secondary: #7EE6D3,
        tertiary: #468075,
        background: #2a2a2a
);

ion-content {
  //--background: color($colors, primary);
  //--ion-color-background: #2a2a2a;
  --color: white;
}

