<app-header titre="{{ 'tabmap.title' | translate }}"></app-header>
<div [routerLink]="['','tabs','tab3']" class="close">
    <span>{{ 'tabmap.back' | translate }}</span>
    <span class="icon icon-back1"></span>
</div>

<ion-item>
    <ion-label>{{ 'tabmap.select' | translate }}</ion-label>
    <ion-select value="{{ localisation }}" interface="action-sheet" (ionChange)="selectedLoc($event)" cancelText="{{ 'tab3.cancel' | translate }}">
        <ion-select-option *ngFor="let city of cities" value="{{ city.code }}">{{ city.ville }} - {{ city.codePays }} </ion-select-option>
    </ion-select>
</ion-item>
<!--<div (click)="test()">eeeee</div>-->


<div class="map-container">

    <div id="map_canvas_select">
        <button (click)="buttonMyPosition()"><span class="icon icon-map-target"></span></button>
    </div>
</div>
