<div class="today">
    <div class="actual-weather"><span class="icon icon-wind"></span></div>
    <div class="temperature">{{ currentWeather.temperature }} °</div>
</div>

<ion-card>
    <ion-header>Prochaines heures</ion-header>
    <div class="next-hours">
        <!--        graph des temperatures par heure sans abcisses/ordonénées-->
    </div>
</ion-card>

<ion-card>
    <ion-header>Prévisions 7j</ion-header>
    <div class="previsions">
        <div class="next-days">
            <span class="day">Lun</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Mar</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Mer</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Jeu</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">28°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Ven</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">-8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Sam</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Dim</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
    </div>
</ion-card>

<ion-card>
    <ion-header>Ennuagement</ion-header>
    <div class="cloudy-rate">
        <div class="cloudy">
            <div class="time">22h00</div>
            <div class="bar" style="width: 50vw"></div>
            <div class="percent">15%</div>
        </div>
        <div class="cloudy">
            <div class="time">23h00</div>
            <span class="bar" style="width: 70vw"></span>
            <span class="percent">15%</span>
        </div>
    </div>
</ion-card>

<ion-card>
    <ion-header>Details</ion-header>
    <div class="details">
        <div class="sun">
            <span class="icon icon-sunrise"></span>
            <div class="label">Lever du soleil</div>
            <div class="value">{{ currentWeather.sunrise | date: 'H:mm' }}</div>
        </div>
        <div class="sun">
            <span class="icon icon-sunset"></span>
            <div class="label">Coucher du soleil</div>
            <div class="value">{{ currentWeather.sunset | date: 'H:mm' }}</div>
        </div>
    </div>
    <div class="datas">
        <div class="windy">
            <span class="icon icon-wind3"></span>
            <div class="label">Vitesse du vent</div>
            <div class="value">{{ currentWeather.wind.speed }} km/h</div>
        </div>
        <div class="feels-like">
            <span class="icon icon-hot"></span>
            <div class="label">Humidité</div>
            <div class="value">{{ currentWeather.humidity }} %</div>
        </div>
    </div>
</ion-card>

