<div class="today">
    <!--    // cold : si température négative, afficher l'icone en plus en petit (même chose avec hot)-->
    <!--    // cold wind : si vent ET 8 degrés max : cold-wind-->
    <div class="actual-weather">
        <span *ngIf="currentWeather.temperature <= 8 && currentWeather.icon === 'wind'; else: normalIcon"
              class="icon icon-cold-wind"></span>
        <ng-template #normalIcon>
            <span class="icon icon-{{ currentWeather.icon }}"></span>
        </ng-template>
    </div>
    <div class="temperature">{{ currentWeather.temperature | number: '1.0-0' }}°</div>
    <span *ngIf="currentWeather.temperature >= 34" class="icon minicons icon-hot"></span>
    <span *ngIf="currentWeather.temperature <= 0" class="icon minicons icon-cold"></span>
</div>

<ion-card>
    <ion-header>Prochaines heures</ion-header>
    <div class="next-hours">
        <!--        graph des temperatures par heure sans abcisses/ordonénées-->
    </div>
</ion-card>
<canvas id="clear-day" width="64" height="64">
</canvas>
<ion-card>
    <ion-header>Prévisions 7j</ion-header>
    <div class="previsions">
        <div class="next-days">
            <span class="day">Lun</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Mar</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Mer</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Jeu</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">28°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Ven</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">-8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Sam</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
        <div class="next-days">
            <span class="day">Dim</span>
            <div class="rain">
                <span class="icon icon-drop"></span>
                <div class="percent">55%</div>
            </div>
            <span class="icon icon-wind"></span>
            <div class="temps">
                <span class="temp-max">8°</span>
                <span class="temp-min">4°</span>
            </div>
        </div>
    </div>
</ion-card>

<ion-card>
    <ion-header>Ennuagement</ion-header>
    <div class="cloudy-rate">
        <div class="cloudy">
            <div class="time">22h00</div>
            <div class="bar" style="width: 50vw"></div>
            <div class="percent">15%</div>
        </div>
        <div class="cloudy">
            <div class="time">23h00</div>
            <span class="bar" style="width: 70vw"></span>
            <span class="percent">15%</span>
        </div>
    </div>
</ion-card>

<ion-card>
    <ion-header>Details</ion-header>
    <div class="details">
        <div class="sun">
            <span class="icon icon-sunrise"></span>
            <div class="label">Lever du soleil</div>
            <div class="value">{{ sunrise }}</div>
        </div>
        <div class="sun">
            <span class="icon icon-sunset"></span>
            <div class="label">Coucher du soleil</div>
            <div class="value">{{ sunset }}</div>
        </div>
    </div>
    <div class="datas">
        <div class="windy">
            <span class="icon icon-wind3"></span>
            <div class="label">Vitesse du vent</div>
            <div class="value">{{ currentWeather.windSpeed | number: '1.0-0' }} km/h</div>
        </div>
        <div class="feels-like">
            <span class="icon icon-hot"></span>
            <div class="label">Humidité</div>
            <div class="value">{{ currentWeather.humidity | percent }}</div>
        </div>
    </div>
</ion-card>

