<div class="container">
    <div class="date">{{ actualDate }}</div>
    <div class="today">
        <lottie-animation-view
                [options]="lottieConfig"
                [width]="90"
                [height]="90"
                (animCreated)="handleAnimation($event)">
        </lottie-animation-view>
        <div class="actual-weather">
                       <span *ngIf="currentWeather.temperature <= 8 && currentWeather.icon === 'wind'; else: normalIcon"
                             class="icon icon-cold-wind"></span>
            <ng-template #normalIcon>
                <span class="icon icon-{{ currentWeather.icon }}"></span>
            </ng-template>
        </div>
        <div class="temperature">{{ currentWeather.temperature | number: '1.0-0' }}°</div>
        <span *ngIf="currentWeather.temperature >= 34" class="icon minicons icon-hot"></span>
        <span *ngIf="currentWeather.temperature <= 0" class="icon minicons icon-cold"></span>
    </div>


    <ion-card>
        <ion-header>{{ 'tab2.kp.next.hours' | translate }}</ion-header>
        <div class="next-hours">
            <canvas id="next-hours"></canvas>
        </div>
    </ion-card>

    <ion-card>
        <ion-header>{{ 'tab2.kp.seven.days' | translate }}</ion-header>
        <div class="previsions">
            <div *ngFor="let day of days" class="next-days">
                <span class="day">{{ day.date }}</span>
                <div class="rain">
                    <span class="icon icon-drop"></span>
                    <div class="percent">{{ day.precipProbability | percent}}</div>
                </div>
                <span class="icon icon-{{day.icon}}"></span>
                <div class="temps">
                    <span class="temp-max">{{ day.temperatureMax | number: '1.0-0'}}°</span>
                    <span class="temp-min">{{ day.temperatureMin | number: '1.0-0'}}°</span>
                </div>
            </div>
        </div>
    </ion-card>

    <ion-card>
        <ion-header>{{ 'tab2.kp.cover.clouds' | translate }}</ion-header>
        <div class="cloudy-rate">
            <div *ngFor="let c of cloudy" class="cloudy">
                <div class="time">{{ c.time }}</div>
                <div class="bar" [style.width]="((c.percent * 100) * 70) / 100 + 'vw'"></div>
                <div class="percent">{{ c.percent | percent}}</div>
            </div>
        </div>
    </ion-card>

    <ion-card>
        <ion-header>{{ 'tab2.kp.details' | translate }}</ion-header>
        <div class="details">
            <div class="sun">
                <span class="icon icon-sunrise"></span>
                <div class="label">{{ 'tab2.kp.details.data.sunrise' | translate }}</div>
                <div class="value">{{ sunrise }}</div>
            </div>
            <div class="sun">
                <span class="icon icon-sunset"></span>
                <div class="label">{{ 'tab2.kp.details.data.sunset' | translate }}</div>
                <div class="value">{{ sunset }}</div>
            </div>
        </div>
        <div class="datas">
            <div class="windy">
                <span class="icon icon-wind-cloud"></span>
                <div class="label">{{ 'tab2.kp.details.data.windspeed' | translate }}</div>
                <div class="value">{{ currentWeather.windSpeed | number: '1.0-0' }} km/h</div>
            </div>
            <div class="feels-like">
                <span class="icon icon-humidity"></span>
                <div class="label">{{ 'tab2.kp.details.data.humidity' | translate }}</div>
                <div class="value">{{ currentWeather.humidity | percent }}</div>
            </div>
        </div>
    </ion-card>

</div>
